.container {
  padding: 10px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(67px, 1fr));
}

.badge {
  background-color: #ccc;
  height: 67px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
