.container {
  padding: 10px;
}
  
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
  
.badge {
  background-color: #ccc;
  height: 67px;
  width: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
  